.calculadora {
  width: 300px;
  display: grid;
  grid-template-rows: 50px auto;
  row-gap: 1rem;
  margin: auto;
}

.visor {
  width: calc(100% - 1rem);
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  text-align: end;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.botonera {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 0.5rem;
}

.numeros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 30px);
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.numero {
  font-family: "Roboto";
  font-size: 1.2rem;
}

.operaciones {
  display: grid;
  grid-template-rows: repeat(4, 30px);
  row-gap: 0.5rem;
}
